<% if @entries.empty? %>
  <%= render "welcome" %>
<% else %>
  <div class="entries-list">
    <% @entries.each do |entry| %>
      <article class="entry">
        <header>
          <h2>
            <%= link_to l(entry.date, format: :month_day_year), edit_entry_path(entry) %>
          </h2>
        </header>

        <div class="entry-body">
          <%= simple_format(entry.body) %>
        </div>

        <% if entry.photo.url %>
          <div class="entry-photo">
            <%= image_tag entry.photo.url %>
          </div>
        <% end %>


      </article>
    <% end %>
  </div>

  <div class="entries-pagination">
    <%= paginate @entries %>
  </div>
<% end %>
