<% content_for :header do %>
  <p>
    <h1>Change your password</h1>
  </p>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

  <% if resource.errors.any? %>
    <div class="alert alert-danger">
      <% resource.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.password_field :password, autofocus: true, placeholder: "New password", class: "form-control", required: true %>
  </div>

  <%= f.submit "Change password", class: "btn btn-primary" %>
<% end %>
