<% content_for :header do %>
  <p>
    <h1>Change your password</h1>
  </p>
<% end %>

<%= simple_form_for(resource,
  as: resource_name,
  url: password_path(resource_name),
  html: { method: :put }
) do |f| %>

  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>

  <div class="form-group">
    <%= f.input :password,
      label: false,
      placeholder: "New password",
      required: true,
      autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.input :password_confirmation,
      label: false,
      placeholder: "Confirm new password",
      required: true %>
  </div>

  <%= f.button :submit, "Change password" %>
<% end %>
