<% content_for :header do %>
  <h1>Forgot your password?</h1>
  <p class="lead">We'll email you reset instructions.</p>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <% if resource.errors.any? %>
    <div class="alert alert-danger">
      <% resource.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control", required: true %>
  </div>

  <%= f.submit "Email me", class: "btn btn-primary" %>
  or <%= link_to "cancel", new_session_path(:user) %>.
<% end %>
