<% content_for :header do %>
  <h1>Settings</h1>
  <p class="lead">When would you like your daily email?</p>
<% end %>

<p>
<%= form_tag settings_path, method: :put do %>
  <div class="form-group">
    <%= time_zone_select :user,
      :time_zone,
      ActiveSupport::TimeZone.us_zones,
      { default: current_user.time_zone },
      { class: "form-control input-lg" }
    %>
  </div>

  <div class="form-group">
    <%= select_hour current_user.prompt_delivery_hour,
      { ampm: true, prefix: :user, field_name: :prompt_delivery_hour },
      { class: "form-control input-lg" }
    %>
  </div>

  <button type="submit" class="btn btn-default btn-lg">Save</button>
<% end %>
</p>

<hr />

<p>
  <small><%= link_to "Update credit card", edit_credit_card_path %> |</small>
  <small><%= link_to "Change password", edit_user_registration_path %> |</small>
  <%= render "subscriptions/close_account" %>
</p>
