<% content_for :header do %>
  <h1>Trailmix</h1>
  <p class="lead">Private journaling about your life.</p>
<% end %>

<%= simple_form_for(
  resource,
  as: resource_name,
  url: session_path(resource_name)
) do |f| %>

  <div class="form-group">
    <%= f.input :email,
      label: false,
      required: true,
      autofocus: true,
      placeholder: "Email address" %>
  </div>

  <div class="form-group">
    <%= f.input :password,
      label: false,
      required: true,
      placeholder: "Password" %>
  </div>

  <%= f.button :submit, "Sign in" %>
  or <%= link_to "Sign up", new_registration_path %>.
  <%= link_to "Forget your password?", new_password_path(:user) %>
<% end %>
