<% content_for :header do %>
  <h1>Sign in</h1>
  <p class="lead">
    <%= link_to "Forget your password?", new_password_path(:user) %>
  </p>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, placeholder: "Password", class: "form-control", required: true %>
  </div>

  <%= f.submit "Sign in", class: "btn btn-primary" %>
  or <%= link_to "Sign up", new_registration_path %>.
<% end %>
