<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Trailmix. A private place to write.</title>

  <%= favicon_link_tag "favicon.ico" %>
  <%= render "layouts/apple_touch_icons" %>

  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= render "navbar" -%>

    <div class="row">
      <% if content_for?(:content) %>
        <%= yield :content %>
      <% else %>
        <%= render "layouts/default_content" %>
      <% end %>
    </div>
  </div>

  <%= render "layouts/footer" %>
  <%= render "javascript" %>
</body>
</html>
